body{
font-family: Arial;
margin:0;
background:#f5f5f5;
text-align:center;
}

header{
background:#111;
color:white;
padding:20px;
}

nav{
background:#ff9900;
padding:10px;
}

nav a{
margin:15px;
color:black;
text-decoration:none;
font-weight:bold;
}

.hero{
margin-top:50px;
}

.buy-btn{
padding:15px 30px;
font-size:18px;
background:#ff9900;
border:none;
cursor:pointer;
}

footer{
margin-top:80px;
background:#111;
color:white;
padding:15px;
}
